@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  /* font-family: 'Robboto'; */
}

.button-green {
  @apply bg-lime-500 px-5 py-2 rounded font-bold text-white hover:border-lime-500 hover:bg-white hover:text-lime-500 hover:border-2 transition-colors duration-300;
  /* transition: all .3s linear; */
}

.landing {
  background: url("../public/d76d6361-3fbf-4842-8dd7-e05520557280.jpeg");
  @apply bg-cover  ;

}

.shadow-text {
  text-shadow: 0 0 3px black;
}


.card:hover .banner{
  opacity: 1;
}


